<h2>Add A Book</h2>
<p>Enter a title or author's name and we'll return the top ten results</p>
<div class="col-lg-6">
  <div class="input-group">
    <input type="text" class="form-control">
    <span class="input-group-btn">
      <button class="btn btn-success" type="button">Go!</button>
    </span>
  </div><!-- /input-group -->
</div><!-- /.col-lg-6 -->