<h1>Log In</h1>
<div class="login-screen">
  <form action="/session" method="post">
    <input type="hidden" name="authenticity_token" value="<%= form_authenticity_token %>">
    <label>Email<br>
      <input name="user[email]" type="text"><br>
    </label><br>
    <label>Password<br>
      <input name="user[password]" type="password"><br>
    </label><br>
    <input type="submit" value="Submit" class="btn btn-primary">
  </form>


  <%= button_to 'Demo User', {:controller => "sessions", :action => "create", :user => { :email => 'me@gmail.com', :password => 'password'} }, :method=>:post, :class => 'btn btn-warning'  %>
</div>