<h2>My Shelves</h2>
<div class='shelves-index'>
  <ul class='shelves-list'>
    <% shelves.each(function (shelf) { %>
      <li>
        <a href="#/shelves/<%= shelf.id %>">
          <%= shelf.escape('name') %>
        </a>
      </li>
    <% }) %>
  </ul>
</div>
<div class ='shelves-footer'>
</div>