<h2>My Shelves</h2>
<div class='shelves-index'>
  <ul class='shelves-list'>
    <% shelves.each(function (shelf) { %>
      <li>
        <a href="#/shelves/<%= shelf.id %>"
          data-shelf-id="<%= shelf.id %>">
          <%= shelf.escape('name') %>
        </a>
        <% if (!((shelf.escape('name') === 'Currently-Reading') ||
                (shelf.escape('name') === 'Read') ||
                (shelf.escape('name') === 'To Read'))) { %>
        <a href="javaScript:void(0);" class="remove-shelf">
          <span class="glyphicon glyphicon-remove" data-shelf-id="<%= shelf.id %>"></span>
        </a>
        <% } %>
      </li>
    <% }) %>
  </ul>
</div>
<div class ='shelves-footer'>
</div>