$barBackgroundColor: #f8f8f8;
$barBorderColor: #e7e7e7;

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  margin-bottom: 60px;
}

.navbar-default {
  background-color: $barBackgroundColor;
  border-bottom: 1px solid $barBorderColor;
}

// come back to this
.navbar-brand img {
  height: 20px;
  width: 20px;
}

.book-list-item {
  border-top: 1px solid $barBorderColor;
  overflow: auto;
  padding: 10px;
}

.book-list-item-left {
  float: left;
}

.book-list-item-left img {
  display: block;
  padding-top: 10px;
}

.book-list-item-right {
  margin-left: 190px;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: $barBackgroundColor;
  border-top: 1px solid $barBorderColor;
  text-align: center;
}

.footer p {
  padding-top: 17px;
}

.glyphicon-remove {
  color: red;
}

.book-show-left {
  float: left;
  width: 33%;
  padding-right: 20px;
  text-align: center;
}

.book-show-left img {
  margin-top: 20px;
}

.book-add-to-shelf-btn {
  padding-top: 10px;
}

.book-show-right {
  float: right;
  width: 66%;
}

.user-review {
  clear: both;
}

.user-review span.date {
  font-style: italic;
}

.book-reviews {
  clear: both;
  padding-top: 5px;
}

.book-reviews h3 {
  border-top: 1px solid $barBorderColor;
  padding-top: 20px;
}

div.review-list-item {
  border: 1px solid $barBorderColor;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
}

.review-list-item span.date {
  float: right;
  font-style: italic;
  padding-top: 5px;
  padding-right: 5px;
}

.review-list-item .star-rating {
  display: inline;
}

.review-list-itemm span.by_user {
  display: inline;
}