$barBackgroundColor: #f8f8f8;
$barBorderColor: #e7e7e7;
$body-font: 'Open Sans', sans-serif;
$header-font: 'Droid Serif', serif;

html {
  position: relative;
  min-height: 100%;
}

body {
  padding-top: 50px;
  margin-bottom: 60px;
  font-family: $body-font;
}

h2 {
  font-weight: bold;
}

.navbar-default {
  background-color: $barBackgroundColor;
  border-bottom: 1px solid $barBorderColor;
}

.navbar-brand {
  font-family: $header-font;
  font-size: 36px;
  clear: left;
}

.navbar-brand img {
  height: 36px;
  width: 36px;
  margin-top: -11px;
  float: left;
  display: inline-block;
  padding-right: 5px;
}

.navbar-brand span {
  float: left;
  display: inline-block;
}

.book-list-item {
  border-top: 1px solid $barBorderColor;
  overflow: visible;
  padding: 10px;
  clear: both;
}

.book-list-item-left {
  width: 20%;
  float: left;
  text-align: center;
  padding-top: 10px;
}


.book-list-item-left a img:hover {
  border: 1px solid $barBorderColor;
}

.book-list-item-left .btn {
  padding: 5px 10px;
  font-size: 12px;
  line-height: 1.5;
}

.book-list-item-right {
  width: 80%;
  float: left;
}

.book-list-item-left .star-rating {
  font-size: 1.5em;
}

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  background-color: $barBackgroundColor;
  border-top: 1px solid $barBorderColor;
  text-align: center;
}

.footer p {
  padding-top: 17px;
}

.glyphicon-remove {
  color: red;
}

.book-show-left {
  float: left;
  width: 33%;
  padding-right: 20px;
  text-align: center;
}

.book-show-left img {
  margin-top: 20px;
}

.book-add-to-shelf-btn {
  padding-top: 10px;
}

.book-show-right {
  float: right;
  width: 66%;
}

.user-review {
  clear: both;
}

.user-review span.date {
  font-style: italic;
}

.user-review textarea {
  height: 100px;
}

.user-review-show button.add {
  margin-left: 125px;
}

.book-reviews {
  clear: both;
  padding-top: 5px;
}

.book-reviews h3 {
  border-top: 1px solid $barBorderColor;
  padding-top: 20px;
}

div.review-list-item {
  border: 1px solid $barBorderColor;
  padding-left: 5px;
  padding-right: 5px;
  margin-bottom: 5px;
}

.review-list-item span.date {
  float: right;
  font-style: italic;
  padding-top: 5px;
  padding-right: 5px;
}

.review-list-item .star-rating {
  display: inline;
}

.review-list-itemm span.by_user {
  display: inline;
}

.container div.shelf-item {
  clear: both;
  overflow: visible;
}

.well .carousel .carousel-inner {
  overflow: visible;
}

.book-grid-item {
  display: inline;
  padding-left: 5px;
  padding-right: 5px;
  float: left;
  width: 250px;
  text-align: center;
}

.book-grid-item img {
  height: 197px;
  width: 128px;
}

.book-grid-container:last-of-type {
  padding-bottom: 50px;
};

.book-grid-item a img:hover {
  border: 1px solid $barBorderColor;
}

.notifications {
  color: darkred;
  font-weight: bold;
}

.login-screen input.btn {
  float: left;
  margin-right: 8px;
}

.navbar a.email {
  pointer-events: none;
}

.carousel-control {
  text-shadow: none;
  width: 50px;
  font-size: 200px;
  color: $barBackgroundColor;
  background-image: none;
}

.carousel-control.right, .carousel-control.left {
  color: $barBorderColor;
  background-image: none;
}

.carousel-control.right:hover, .carousel-control.left:hover {
  color: #777777;
}

.row {
  margin-left: 50px;
  margin-right: 50px;
}


.well {
  background-color: white;
  border: none;
  box-shadow: none;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.shelves-footer textarea {
  height: 35px;
}

.loading-modal {
    display:    none;
    position:   fixed;
    z-index:    1000;
    top:        0;
    left:       0;
    height:     100%;
    width:      100%;
    background: rgba( 255, 255, 255, .8 )
                url('http://i.stack.imgur.com/FhHRx.gif')
                50% 50%
                no-repeat;
}

/* When the body has the loading class, we turn
   the scrollbar off with overflow:hidden */
body.loading {
    overflow: hidden;
}

/* Anytime the body has the loading class, our
   modal element will be visible */
body.loading .loading-modal {
    display: block;
}