<div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="basicModal" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title" id="myModalLabel">About Shelvesy</h4>
            </div>
            <div class="modal-body">
                <p>Shelvesy is a social book reviewing site. It allows users to track, rate, and review books that they have read, want to read, or are currently reading. This site was created as a final project for <a href="http://www.appacademy.io" target="_blank" >App Academy</a>.</p>
                <h4>Credits</h4>
                <p>Many thanks to the TA's for all the assistance the provided. Any substantial review on this site was sourced from <a href="http://www.goodreads.com/" target="_blank">GoodReads</a>. Credit to <a href="http://thenounproject.com/frederickallen/" target="_blank">frederick allen</a> from <a href="http://thenounproject.com/ß" target="_blank">the noun project</a> for the Shelvesy icon. For the star rating feature, I used <a href="https://github.com/kartik-v/bootstrap-star-rating" target="_blank">bootstrap-star-rating</a>.</p>
                <h4>Find Me Online</h4>
                <p>If you want to learn more about me, you can find me here:</p>
                <ul>
                  <li><a href="http://www.aaronshurley.com" target="_blank">AaronSHurley.com</a></li>
                  <li><a href="https://github.com/aaronshurley" target="_blank">My Github</a></li></li>
                  <li><a href="https://twitter.com/AaronSHurley" target="_blank">@AaronSHurley</li>
                </ul>
            </div>
        </div>
    </div>
  </div>
</div>

<footer class="footer">
  <div class="container">
    <p class="text-muted">
      &copy;<%= Time.now.year %>
      <a href="http://www.AaronSHurley.com">By Aaron</a> |
      <a href="#" data-toggle="modal" data-target="#about">About</a>
    </p>
  </div>
</footer>